parameters:
	ignoreErrors:
		-
			rawMessage: 'Parameter #1 $new_blog_id of function switch_to_blog expects int, string|null given.'
			identifier: argument.type
			count: 2
			path: src/Controller.php

		-
			rawMessage: 'Parameter #1 $value of function intval expects array|bool|float|GMP|int|resource|SimpleXMLElement|string|null, mixed given.'
			identifier: argument.type
			count: 1
			path: src/Controller.php

		-
			rawMessage: 'Parameter #2 $args of function wp_remote_request expects array{method?: string, timeout?: float, redirection?: int, httpversion?: string, user-agent?: string, reject_unsafe_urls?: bool, blocking?: bool, headers?: array|string, ...}, array{method: string, timeout: 30, user-agent: mixed, body: mixed, headers: mixed} given.'
			identifier: argument.type
			count: 1
			path: src/Controller.php

		-
			rawMessage: Possibly invalid array key type mixed.
			identifier: offsetAccess.invalidOffset
			count: 4
			path: src/Crawler.php

		-
			rawMessage: Binary operation "/" between int and mixed results in an error.
			identifier: binaryOp.invalid
			count: 1
			path: src/DetectCategoryPaginationURLs.php

		-
			rawMessage: 'Argument of an invalid type list<stdClass>|null supplied for foreach, only iterables are supported.'
			identifier: foreach.nonIterable
			count: 1
			path: src/DetectPostsPaginationURLs.php

		-
			rawMessage: Binary operation "/" between non-falsy-string and mixed results in an error.
			identifier: binaryOp.invalid
			count: 1
			path: src/DetectPostsPaginationURLs.php

		-
			rawMessage: 'Parameter #1 $array of function array_unique expects an array of values castable to string, list given.'
			identifier: argument.type
			count: 1
			path: src/DetectPostsPaginationURLs.php

		-
			rawMessage: 'Parameter #1 $num of function ceil expects float|int, mixed given.'
			identifier: argument.type
			count: 1
			path: src/DetectPostsPaginationURLs.php

		-
			rawMessage: 'Parameter #1 $post_type of function get_post_type_object expects string, mixed given.'
			identifier: argument.type
			count: 1
			path: src/DetectPostsPaginationURLs.php

		-
			rawMessage: 'Parameter #1 $string of function strtolower expects string, mixed given.'
			identifier: argument.type
			count: 1
			path: src/DetectPostsPaginationURLs.php

		-
			rawMessage: Binary operation "." between string and mixed results in an error.
			identifier: binaryOp.invalid
			count: 1
			path: src/DetectVendorFiles.php

		-
			rawMessage: Possibly invalid array key type mixed.
			identifier: offsetAccess.invalidOffset
			count: 1
			path: src/OptionRenderer.php

		-
			rawMessage: 'Parameter #1 $value of function untrailingslashit expects string, mixed given.'
			identifier: argument.type
			count: 1
			path: src/SimpleRewriter.php

		-
			rawMessage: 'Argument of an invalid type mixed supplied for foreach, only iterables are supported.'
			identifier: foreach.nonIterable
			count: 1
			path: src/SitemapParser.php

		-
			rawMessage: Cannot access offset 'User-Agent' on mixed.
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: src/SitemapParser.php

		-
			rawMessage: 'Parameter #1 $value of function strval expects bool|float|GMP|int|resource|string|null, mixed given.'
			identifier: argument.type
			count: 3
			path: src/SitemapParser.php

		-
			rawMessage: Possibly invalid array key type mixed.
			identifier: offsetAccess.invalidOffset
			count: 2
			path: src/SitemapParser.php

		-
			rawMessage: 'Method WP2Static\URLDetector::detectURLs() should return array<string> but returns array.'
			identifier: return.type
			count: 1
			path: src/URLDetector.php

		-
			rawMessage: 'Parameter #1 $array of function array_unique expects array, mixed given.'
			identifier: argument.type
			count: 1
			path: src/URLDetector.php

		-
			rawMessage: 'Parameter #1 $ids of static method WP2Static\CrawlQueue::rmUrlsById() expects array<int>, list<string> given.'
			identifier: argument.type
			count: 1
			path: src/URLDetector.php
