parameters:
	ignoreErrors:
		-
			rawMessage: 'Argument of an invalid type list<stdClass>|null supplied for foreach, only iterables are supported.'
			identifier: foreach.nonIterable
			count: 1
			path: addons/directory-deployment/src/Controller.php

		-
			rawMessage: 'In method "WP2StaticDirectoryDeployer\Controller::saveOptionsFromUI", you should not use the $_POST superglobal.'
			identifier: thecodingmachine.superglobalUsed
			count: 2
			path: addons/directory-deployment/src/Controller.php

		-
			rawMessage: 'Parameter #1 $query of method wpdb::query() expects string, string|null given.'
			identifier: argument.type
			count: 4
			path: addons/directory-deployment/src/Controller.php

		-
			rawMessage: 'Parameter #1 $str of function sanitize_text_field expects string, mixed given.'
			identifier: argument.type
			count: 1
			path: addons/directory-deployment/src/Controller.php

		-
			rawMessage: Possibly invalid array key type mixed.
			identifier: offsetAccess.invalidOffset
			count: 1
			path: addons/directory-deployment/src/Controller.php

		-
			rawMessage: 'In method "WP2StaticFTP\Controller::saveOptionsFromUI", you should not use the $_POST superglobal.'
			identifier: thecodingmachine.superglobalUsed
			count: 5
			path: addons/ftp/src/Controller.php

		-
			rawMessage: 'Parameter #1 $query of method wpdb::query() expects string, string|null given.'
			identifier: argument.type
			count: 2
			path: addons/ftp/src/Controller.php

		-
			rawMessage: 'Parameter #1 $str of function sanitize_text_field expects string, mixed given.'
			identifier: argument.type
			count: 2
			path: addons/ftp/src/Controller.php

		-
			rawMessage: 'Method WP2StaticFTP\Deployer::openConnection() never returns resource so it can be removed from the return type.'
			identifier: return.unusedType
			count: 1
			path: addons/ftp/src/Deployer.php

		-
			rawMessage: 'Parameter #1 $ftp of function ftp_close expects FTP\Connection, FTP\Connection|resource given.'
			identifier: argument.type
			count: 1
			path: addons/ftp/src/Deployer.php

		-
			rawMessage: 'Parameter #1 $ftp of function ftp_delete expects FTP\Connection, FTP\Connection|resource given.'
			identifier: argument.type
			count: 1
			path: addons/ftp/src/Deployer.php

		-
			rawMessage: 'Parameter #1 $ftp of function ftp_mkdir expects FTP\Connection, FTP\Connection|resource given.'
			identifier: argument.type
			count: 1
			path: addons/ftp/src/Deployer.php

		-
			rawMessage: 'Parameter #1 $ftp of function ftp_put expects FTP\Connection, FTP\Connection|resource given.'
			identifier: argument.type
			count: 1
			path: addons/ftp/src/Deployer.php

		-
			rawMessage: 'Parameter #1 $ftp of function ftp_rmdir expects FTP\Connection, FTP\Connection|resource given.'
			identifier: argument.type
			count: 1
			path: addons/ftp/src/Deployer.php

		-
			rawMessage: 'In method "WP2StaticNetlify\Controller::saveOptionsFromUI", you should not use the $_POST superglobal.'
			identifier: thecodingmachine.superglobalUsed
			count: 4
			path: addons/netlify/src/Controller.php

		-
			rawMessage: 'Parameter #1 $query of method wpdb::query() expects string, string|null given.'
			identifier: argument.type
			count: 2
			path: addons/netlify/src/Controller.php

		-
			rawMessage: 'Parameter #1 $str of function sanitize_text_field expects string, mixed given.'
			identifier: argument.type
			count: 2
			path: addons/netlify/src/Controller.php

		-
			rawMessage: 'In method "WP2StaticS3\Controller::saveOptionsFromUI", you should not use the $_POST superglobal.'
			identifier: thecodingmachine.superglobalUsed
			count: 4
			path: addons/s3/src/Controller.php

		-
			rawMessage: 'Parameter #1 $query of method wpdb::query() expects string, string|null given.'
			identifier: argument.type
			count: 2
			path: addons/s3/src/Controller.php

		-
			rawMessage: 'Parameter #1 $str of function sanitize_text_field expects string, mixed given.'
			identifier: argument.type
			count: 2
			path: addons/s3/src/Controller.php

		-
			rawMessage: 'Argument of an invalid type list<stdClass>|null supplied for foreach, only iterables are supported.'
			identifier: foreach.nonIterable
			count: 1
			path: addons/sftp/src/Controller.php

		-
			rawMessage: 'In method "WP2StaticSFTP\Controller::saveOptionsFromUI", you should not use the $_POST superglobal.'
			identifier: thecodingmachine.superglobalUsed
			count: 4
			path: addons/sftp/src/Controller.php

		-
			rawMessage: 'Parameter #1 $query of method wpdb::query() expects string, string|null given.'
			identifier: argument.type
			count: 2
			path: addons/sftp/src/Controller.php

		-
			rawMessage: 'Parameter #1 $str of function sanitize_text_field expects string, mixed given.'
			identifier: argument.type
			count: 2
			path: addons/sftp/src/Controller.php

		-
			rawMessage: Possibly invalid array key type mixed.
			identifier: offsetAccess.invalidOffset
			count: 1
			path: addons/sftp/src/Controller.php

		-
			rawMessage: 'Method WP2Static\Addons::getAll() should return array<mixed> but returns list<stdClass>|null.'
			identifier: return.type
			count: 2
			path: src/Addons.php

		-
			rawMessage: 'Parameter #1 $query of method wpdb::query() expects string, string|null given.'
			identifier: argument.type
			count: 2
			path: src/Addons.php

		-
			rawMessage: Cannot access property $description on mixed.
			identifier: property.nonObject
			count: 2
			path: src/CLI.php

		-
			rawMessage: Cannot access property $docs_url on mixed.
			identifier: property.nonObject
			count: 1
			path: src/CLI.php

		-
			rawMessage: Cannot access property $enabled on mixed.
			identifier: property.nonObject
			count: 2
			path: src/CLI.php

		-
			rawMessage: Cannot access property $name on mixed.
			identifier: property.nonObject
			count: 2
			path: src/CLI.php

		-
			rawMessage: Cannot access property $slug on mixed.
			identifier: property.nonObject
			count: 2
			path: src/CLI.php

		-
			rawMessage: Binary operation "." between non-falsy-string and mixed results in an error.
			identifier: binaryOp.invalid
			count: 1
			path: src/Controller.php

		-
			rawMessage: 'Call to function is_string() with string will always evaluate to true.'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Controller.php

		-
			rawMessage: Cannot access property $id on mixed.
			identifier: property.nonObject
			count: 3
			path: src/Controller.php

		-
			rawMessage: Cannot access property $job_type on mixed.
			identifier: property.nonObject
			count: 2
			path: src/Controller.php

		-
			rawMessage: Cannot access property $lck on stdClass|null.
			identifier: property.nonObject
			count: 1
			path: src/Controller.php

		-
			rawMessage: 'In method "WP2Static\Controller::wp2staticProcessQueueAdminPost", you should not use the $_COOKIE superglobal.'
			identifier: thecodingmachine.superglobalUsed
			count: 1
			path: src/Controller.php

		-
			rawMessage: 'Method WP2Static\Controller::ensureIndex() should return bool but returns bool|int.'
			identifier: return.type
			count: 1
			path: src/Controller.php

		-
			rawMessage: 'Parameter #1 $id of static method WP2Static\JobQueue::setStatus() expects int, mixed given.'
			identifier: argument.type
			count: 3
			path: src/Controller.php

		-
			rawMessage: 'Parameter #1 $new_blog_id of function switch_to_blog expects int, string|null given.'
			identifier: argument.type
			count: 2
			path: src/Controller.php

		-
			rawMessage: 'Parameter #1 $query of method wpdb::query() expects string, string|null given.'
			identifier: argument.type
			count: 5
			path: src/Controller.php

		-
			rawMessage: 'Parameter #1 $value of function intval expects array|bool|float|GMP|int|resource|SimpleXMLElement|string|null, mixed given.'
			identifier: argument.type
			count: 1
			path: src/Controller.php

		-
			rawMessage: 'Parameter #2 $args of function wp_remote_request expects array{method?: string, timeout?: float, redirection?: int, httpversion?: string, user-agent?: string, reject_unsafe_urls?: bool, blocking?: bool, headers?: array|string, ...}, array{method: string, timeout: 30, user-agent: mixed, body: mixed, headers: mixed} given.'
			identifier: argument.type
			count: 1
			path: src/Controller.php

		-
			rawMessage: 'In method "WP2Static\CoreOptions::savePosted", you should not use the $_POST superglobal.'
			identifier: thecodingmachine.superglobalUsed
			count: 23
			path: src/CoreOptions.php

		-
			rawMessage: 'Method WP2Static\CoreOptions::getValue() should return string but returns mixed.'
			identifier: return.type
			count: 1
			path: src/CoreOptions.php

		-
			rawMessage: 'Parameter #1 $hook_name of function apply_filters expects non-empty-string, string given.'
			identifier: argument.type
			count: 4
			path: src/CoreOptions.php

		-
			rawMessage: 'Parameter #1 $maybeint of function absint expects array|bool|float|int|resource|string|null, mixed given.'
			identifier: argument.type
			count: 2
			path: src/CoreOptions.php

		-
			rawMessage: 'Parameter #2 $string of static method WP2Static\CoreOptions::encrypt_decrypt() expects string, mixed given.'
			identifier: argument.type
			count: 1
			path: src/CoreOptions.php

		-
			rawMessage: 'Part $port_override (mixed) of encapsed string cannot be cast to string.'
			identifier: encapsedStringPart.nonString
			count: 1
			path: src/Crawler.php

		-
			rawMessage: Possibly invalid array key type mixed.
			identifier: offsetAccess.invalidOffset
			count: 4
			path: src/Crawler.php

		-
			rawMessage: 'Call to function is_string() with string will always evaluate to true.'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/DetectAuthorPaginationURLs.php

		-
			rawMessage: Cannot access property $ID on mixed.
			identifier: property.nonObject
			count: 2
			path: src/DetectAuthorPaginationURLs.php

		-
			rawMessage: Cannot access property $pagination_base on mixed.
			identifier: property.nonObject
			count: 1
			path: src/DetectAuthorPaginationURLs.php

		-
			rawMessage: 'Parameter #1 $author_id of function get_author_posts_url expects int, mixed given.'
			identifier: argument.type
			count: 1
			path: src/DetectAuthorPaginationURLs.php

		-
			rawMessage: 'Parameter #1 $userid of function count_user_posts expects int, mixed given.'
			identifier: argument.type
			count: 1
			path: src/DetectAuthorPaginationURLs.php

		-
			rawMessage: 'Part $pagination_base (mixed) of encapsed string cannot be cast to string.'
			identifier: encapsedStringPart.nonString
			count: 1
			path: src/DetectAuthorPaginationURLs.php

		-
			rawMessage: 'Call to function is_string() with string will always evaluate to true.'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/DetectAuthorsURLs.php

		-
			rawMessage: Cannot access property $ID on mixed.
			identifier: property.nonObject
			count: 1
			path: src/DetectAuthorsURLs.php

		-
			rawMessage: 'Parameter #1 $author_id of function get_author_posts_url expects int, mixed given.'
			identifier: argument.type
			count: 1
			path: src/DetectAuthorsURLs.php

		-
			rawMessage: Binary operation "/" between int and mixed results in an error.
			identifier: binaryOp.invalid
			count: 1
			path: src/DetectCategoryPaginationURLs.php

		-
			rawMessage: Cannot access property $pagination_base on mixed.
			identifier: property.nonObject
			count: 1
			path: src/DetectCategoryPaginationURLs.php

		-
			rawMessage: 'Parameter #2 $deprecated of function get_terms expects '''', array{hide_empty: true} given.'
			identifier: argument.type
			count: 1
			path: src/DetectCategoryPaginationURLs.php

		-
			rawMessage: 'Part $pagination_base (mixed) of encapsed string cannot be cast to string.'
			identifier: encapsedStringPart.nonString
			count: 1
			path: src/DetectCategoryPaginationURLs.php

		-
			rawMessage: 'Parameter #2 $deprecated of function get_terms expects '''', array{hide_empty: true} given.'
			identifier: argument.type
			count: 1
			path: src/DetectCategoryURLs.php

		-
			rawMessage: 'Parameter #1 $post of function get_post_permalink expects int|WP_Post, string|null given.'
			identifier: argument.type
			count: 1
			path: src/DetectCustomPostTypeURLs.php

		-
			rawMessage: 'Parameter #1 $post of function get_page_link expects int|WP_Post, string|null given.'
			identifier: argument.type
			count: 1
			path: src/DetectPageURLs.php

		-
			rawMessage: 'Call to function is_string() with string will always evaluate to true.'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/DetectPluginAssets.php

		-
			rawMessage: 'Parameter #1 $post of function get_permalink expects int|WP_Post, string|null given.'
			identifier: argument.type
			count: 1
			path: src/DetectPostURLs.php

		-
			rawMessage: 'Argument of an invalid type list<stdClass>|null supplied for foreach, only iterables are supported.'
			identifier: foreach.nonIterable
			count: 1
			path: src/DetectPostsPaginationURLs.php

		-
			rawMessage: Binary operation "/" between non-falsy-string and mixed results in an error.
			identifier: binaryOp.invalid
			count: 1
			path: src/DetectPostsPaginationURLs.php

		-
			rawMessage: 'Parameter #1 $array of function array_unique expects an array of values castable to string, list given.'
			identifier: argument.type
			count: 1
			path: src/DetectPostsPaginationURLs.php

		-
			rawMessage: 'Parameter #1 $num of function ceil expects float|int, mixed given.'
			identifier: argument.type
			count: 1
			path: src/DetectPostsPaginationURLs.php

		-
			rawMessage: 'Parameter #1 $post_type of function get_post_type_object expects string, mixed given.'
			identifier: argument.type
			count: 1
			path: src/DetectPostsPaginationURLs.php

		-
			rawMessage: 'Parameter #1 $string of function strtolower expects string, mixed given.'
			identifier: argument.type
			count: 1
			path: src/DetectPostsPaginationURLs.php

		-
			rawMessage: 'Part $port_override (mixed) of encapsed string cannot be cast to string.'
			identifier: encapsedStringPart.nonString
			count: 1
			path: src/DetectSitemapsURLs.php

		-
			rawMessage: 'Call to function is_string() with string will always evaluate to true.'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/DetectThemeAssets.php

		-
			rawMessage: 'Call to function is_string() with string will always evaluate to true.'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/DetectVendorCache.php

		-
			rawMessage: Binary operation "." between string and mixed results in an error.
			identifier: binaryOp.invalid
			count: 1
			path: src/DetectVendorFiles.php

		-
			rawMessage: 'Call to function is_string() with string will always evaluate to true.'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/DetectWPIncludesAssets.php

		-
			rawMessage: 'Call to function is_string() with non-falsy-string will always evaluate to true.'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/FilesHelper.php

		-
			rawMessage: 'Call to function is_string() with string will always evaluate to true.'
			identifier: function.alreadyNarrowedType
			count: 3
			path: src/FilesHelper.php

		-
			rawMessage: 'Parameter #2 $filenames_to_ignore of static method WP2Static\FilesHelper::pathLooksCrawlable() expects array<string>, mixed given.'
			identifier: argument.type
			count: 1
			path: src/FilesHelper.php

		-
			rawMessage: 'Parameter #3 $file_extensions_to_ignore of static method WP2Static\FilesHelper::pathLooksCrawlable() expects array<string>, mixed given.'
			identifier: argument.type
			count: 1
			path: src/FilesHelper.php

		-
			rawMessage: Possibly invalid array key type mixed.
			identifier: offsetAccess.invalidOffset
			count: 1
			path: src/OptionRenderer.php

		-
			rawMessage: 'Method WP2Static\ProcessedSite::getPath() should return string but returns mixed.'
			identifier: return.type
			count: 1
			path: src/ProcessedSite.php

		-
			rawMessage: 'Parameter #1 $value of function untrailingslashit expects string, mixed given.'
			identifier: argument.type
			count: 2
			path: src/SimpleRewriter.php

		-
			rawMessage: 'Static property WP2Static\SiteInfo::$info (array<mixed>) does not accept mixed.'
			identifier: assign.propertyType
			count: 1
			path: src/SiteInfo.php

		-
			rawMessage: 'Argument of an invalid type mixed supplied for foreach, only iterables are supported.'
			identifier: foreach.nonIterable
			count: 1
			path: src/SitemapParser.php

		-
			rawMessage: Cannot access offset 'User-Agent' on mixed.
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: src/SitemapParser.php

		-
			rawMessage: 'Parameter #1 $array of function array_diff expects an array of values castable to string, array<mixed> given.'
			identifier: argument.type
			count: 1
			path: src/SitemapParser.php

		-
			rawMessage: 'Parameter #1 $array of function array_unique expects an array of values castable to string, array<mixed> given.'
			identifier: argument.type
			count: 1
			path: src/SitemapParser.php

		-
			rawMessage: 'Parameter #1 $value of function strval expects bool|float|GMP|int|resource|string|null, mixed given.'
			identifier: argument.type
			count: 3
			path: src/SitemapParser.php

		-
			rawMessage: 'Parameter #2 $arrays of function array_diff expects an array of values castable to string, array<mixed> given.'
			identifier: argument.type
			count: 1
			path: src/SitemapParser.php

		-
			rawMessage: Possibly invalid array key type mixed.
			identifier: offsetAccess.invalidOffset
			count: 2
			path: src/SitemapParser.php

		-
			rawMessage: 'Method WP2Static\StaticSite::getPath() should return string but returns mixed.'
			identifier: return.type
			count: 1
			path: src/StaticSite.php

		-
			rawMessage: 'Method WP2Static\URLDetector::detectURLs() should return array<string> but returns array.'
			identifier: return.type
			count: 1
			path: src/URLDetector.php

		-
			rawMessage: 'Parameter #1 $array of function array_unique expects array, mixed given.'
			identifier: argument.type
			count: 1
			path: src/URLDetector.php

		-
			rawMessage: 'Parameter #2 $filenames_to_ignore of static method WP2Static\FilesHelper::getListOfLocalFilesByDir() expects array<string>, mixed given.'
			identifier: argument.type
			count: 1
			path: src/URLDetector.php

		-
			rawMessage: 'Parameter #3 $file_extensions_to_ignore of static method WP2Static\FilesHelper::getListOfLocalFilesByDir() expects array<string>, mixed given.'
			identifier: argument.type
			count: 1
			path: src/URLDetector.php

		-
			rawMessage: 'Parameter #1 $str of function sanitize_text_field expects string, bool|float|int|string given.'
			identifier: argument.type
			count: 1
			path: src/URLHelper.php

		-
			rawMessage: 'In method "WP2Static\ViewRenderer::handleBulkRemoval", you should not use the $_POST superglobal.'
			identifier: thecodingmachine.superglobalUsed
			count: 4
			path: src/ViewRenderer.php

		-
			rawMessage: 'In method "WP2Static\ViewRenderer::requestValue", you should not use the $_GET superglobal.'
			identifier: thecodingmachine.superglobalUsed
			count: 3
			path: src/ViewRenderer.php

		-
			rawMessage: 'In method "WP2Static\ViewRenderer::requestValue", you should not use the $_POST superglobal.'
			identifier: thecodingmachine.superglobalUsed
			count: 3
			path: src/ViewRenderer.php

		-
			rawMessage: 'Parameter #1 $callback of function array_map expects (callable(mixed): mixed)|null, ''absint'' given.'
			identifier: argument.type
			count: 1
			path: src/ViewRenderer.php

		-
			rawMessage: 'Parameter #1 $haystack of function stripos expects string, mixed given.'
			identifier: argument.type
			count: 1
			path: src/ViewRenderer.php

		-
			rawMessage: 'Parameter #1 $ids of static method WP2Static\CrawlCache::rmUrlsById() expects array<string>, array<int> given.'
			identifier: argument.type
			count: 1
			path: src/ViewRenderer.php

		-
			rawMessage: 'Parameter #1 $ids of static method WP2Static\CrawlQueue::rmUrlsById() expects array<string>, array<int> given.'
			identifier: argument.type
			count: 1
			path: src/ViewRenderer.php

		-
			rawMessage: 'Parameter #1 $key of function sanitize_key expects string, mixed given.'
			identifier: argument.type
			count: 1
			path: src/ViewRenderer.php

		-
			rawMessage: 'Parameter #1 $str of function sanitize_text_field expects string, bool|float|int|string given.'
			identifier: argument.type
			count: 2
			path: src/ViewRenderer.php

		-
			rawMessage: 'Method WP2Static\WsLog::getAll() should return array<mixed> but returns list<stdClass>|null.'
			identifier: return.type
			count: 1
			path: src/WsLog.php

		-
			rawMessage: 'Parameter #1 $query of method wpdb::query() expects string, string|null given.'
			identifier: argument.type
			count: 2
			path: src/WsLog.php

		-
			rawMessage: 'Parameter #1 $query of method wpdb::query() expects string, string|null given.'
			identifier: argument.type
			count: 1
			path: uninstall.php
